interactions:
- request:
    body: ''
    headers:
      Accept-Version:
      - '3.0'
      Content-Type:
      - application/hal+json
      X-Display-Currency:
      - CAD
    method: GET
    uri: https://api.reverb.com/api/listings?query=xyznonexistent987654321qqq&per_page=50&state=live&page=1
  response:
    body:
      string: '{"total":0,"current_page":1,"per_page":50,"total_pages":1,"_links":{"follow":{"href":"https://api.reverb.com/api/my/follows/search?query=xyznonexistent987654321qqq"},"listing":{"href":"https://reverb.com/sell"}},"humanized_params":"\"xyznonexistent987654321qqq\"
        Gear","listings":[],"ships_to":"Everywhere Else"}'
    headers:
      Content-Type:
      - application/hal+json
      etag:
      - W/"3a8eedd92751c8fe310aaaed0c7e623b"
      x-rails-version:
      - 7.2.2.2
      x-reverb-version:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Accept-Version:
      - '3.0'
      Content-Type:
      - application/hal+json
      X-Display-Currency:
      - CAD
    method: GET
    uri: https://api.reverb.com/api/listings?query=xyznonexistent987654321qqq&per_page=50&state=live&page=1
  response:
    body:
      string: '{"total":0,"current_page":1,"per_page":50,"total_pages":1,"_links":{"follow":{"href":"https://api.reverb.com/api/my/follows/search?query=xyznonexistent987654321qqq"},"listing":{"href":"https://reverb.com/sell"}},"humanized_params":"\"xyznonexistent987654321qqq\"
        Gear","listings":[],"ships_to":"Everywhere Else"}'
    headers:
      Content-Type:
      - application/hal+json
      etag:
      - W/"3a8eedd92751c8fe310aaaed0c7e623b"
      x-rails-version:
      - 7.2.2.2
      x-reverb-version:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
